<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
	{{title}}
	<span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
	{{#each tuple in itemTuples}}
		<li>{{#link-to itemRoute tuple.item.id}}{{tuple.display}}{{/link-to}}</li>
	{{/each}}
</ul>

{{yield}}
