<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<p>
				This is a card reference for the Lords of Waterdeep board game, which is a very good worker placement game.  Playdek has made an excellent iOS port of the game, which I highly recommend.  Go buy a copy.
			</p>

			<p>
				I don't own any of the trademarks to the game name, characters, etc.  I just wanted something to reference card effects for a strategy article I wrote, and I couldn't find a full list including the expansion cards, so I made one.  Please don't sue me.
			</p>

			<p>
				I did all the data entry by hand, so there's a good chance there are some errors.  If you spot any, please open an issue on the <a href="https://github.com/Dave-Choi/waterdeep-reference">GitHub repo</a>.
			</p>
		</div>
	</div>
</div>
